{{ partial "header.html" . }}

{{if .Site.Params.cover}}
{{if or (eq (substr .Site.Params.cover 0 7) "http://") (eq (substr .Site.Params.cover 0 8) "https://")}}
  <header class="main-header" >
  {{ else }}
  <header class="main-header" >
  {{ end }}
{{else}}
<header class="main-header no-cover">
{{end}}

    <nav class="main-nav overlay clearfix">
        {{ if .Site.Params.logo }}
            <a class="blog-logo" href="{{ .Permalink }}"><img src="{{.Site.BaseURL}}{{ .Site.Params.logo }}" alt="Blog Logo" /></a>
        {{end}}
        {{ if .Site.Menus.main }}
            <a class="menu-button" href="#"><span class="burger">&#9776;</span><span class="word">Menu</span></a>
        {{else}}
            {{ if .Site.Params.RSSLink}}
              <a class="menu-button icon-feed" href="{{.Site.Params.RSSLink }}">&nbsp;&nbsp;Subscribe</a>
            {{else}}
              <a class="menu-button icon-feed" href="{{ .RSSLink }}">&nbsp;&nbsp;Subscribe</a>
            {{end}}
        {{end}}
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            {{ if .Site.Params.linkedinName }}
                <a class="bloglogo" href="https://www.linkedin.com/in/{{ .Site.Params.linkedinName }}" target="_blank">
                    <span class="icon-linkedin" style="color:white;font-size:2em"></span>
                </a>
            &nbsp;
            {{end}}
            {{ if .Site.Params.githubName }}
                <a class="bloglogo" href="https://github.com/{{ .Site.Params.githubName }}" target="_blank">
                <span class="icon-github" style="color:white;font-size:2em"></span>
                </a>
            &nbsp;
            {{end}}
            {{ if .Site.Params.twitterName }}
                <a class="bloglogo" href="https://twitter.com/{{ .Site.Params.twitterName }}" target="_blank">
                    <span class="icon-twitter" style="color:white;font-size:2em"></span>
                </a>
            &nbsp;
            {{end}}
            {{ if .Site.Params.facebookName }}
                <a class="bloglogo" href="https://www.facebook.com/{{ .Site.Params.facebookName }}" target="_blank">
                    <span class="icon-facebook" style="color:white;font-size:2em"></span>
                </a>
            &nbsp;
            {{end}}
            {{ if .Site.Params.instagramName }}
                <a class="bloglogo" href="https://instagram.com/{{ .Site.Params.instagramName }}" target="_blank">
                    <span class="icon-instagram" style="color:white;font-size:2em"></span>
                </a>
            &nbsp;
            {{end}}
            {{ if .Site.Params.pinterestName }}
                <a class="bloglogo" href="https://www.pinterest.com/{{ .Site.Params.pinterestName }}" target="_blank">
                    <span class="icon-pinterest" style="color:white;font-size:2em"></span>
                </a>
            &nbsp;
            {{end}}
            {{ if .Site.Params.googlePlusName }}
                <a class="bloglogo" href="https://google.com/+{{ .Site.Params.googlePlusName }}" target="_blank">
                    <span class="icon-google-plus" style="color:white;font-size:2em"></span>
                </a>
            &nbsp;
            {{end}}

            <h1 class="page-title">{{ .Site.Title }}</h1>
            <h2 class="page-description">{{ .Site.Params.description }}</h2>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content"><span class="hidden">Scroll Down</span></a>
</header>


<main id="content" class="content" role="main">

  <div class="index-content post">
<h1>What is Organic Seo Design?</h1>
<p>
To answer this seemingly never ending question, tied to it's myriad of categorically related questions, we must answer first the age old question of what search engines mean to achieve, over the ability of human oversight.</p>
<p>
To categorize information meaninfully is the plight of every search engine algorithm ever invented. But there is a catch, the utter size of data stores avaialable to human search benefactors is exceedingly impossible to organize, without a machine intevention.</p>
<p>
It would seem the machine itself is the problem, and many people have historically taken a back seat to machine complexity or attempted a front seat, to it's simplification. </p>

    <h2> Now, let's delve into the differential nature of this "SEO" equation</h2>
    <p>Not to late last year a few fine folks reminded the SEO industry at large, that analysis by visualization was receiving far less attention than it should</p>
    <p>What exactly is an SEO visualization anyway?</p>
    <ul><li>Search Metrics?</li><li>Traffic Metrics?</li><li>Usage Patterns?</li><li>Ranking Patterns?</li></ul>
    <p>Safe to say it's a combination of all these, but how did the battle for better "SEO" data, play out?</p>
    <p>A savvy marketer will quickly realize at looking, a synthesis had occured, SEO stopped being itself, because the search algorithm
      was taking much of this new and exotic data into account, not social patterns per-say, but even deeper, search had begun to value
      the visualization itself, a new visual metric. Above and beyond what the algorithm was being told by it's own inference,not only
    did the data prove the change in focus, but also we saw an increase in engagement with these visualizations, and we are able to affect
    change at the marketing budget level, using these seemingly exotic, human tuned, visual metrics.</p>
    <p> Marketers had finally been encouraged to provide these metrics and graphic designers had somewhere to tie in the concept of graphic
      design with marketing, not necessarily to the benefit or distraction from SEO goals, but changing the way we perceived SEO as a whole</p>
    
  </div>

</main>

{{ partial "footer.html" . }}
