{{ partial "header.html" . }}

{{if .Site.Params.cover}}
{{if or (eq (substr .Site.Params.cover 0 7) "http://") (eq (substr .Site.Params.cover 0 8) "https://")}}
  <header class="main-header" >
  {{ else }}
  <header class="main-header" >
  {{ end }}
{{else}}
<header class="main-header no-cover">
{{end}}

    <nav class="main-nav overlay clearfix">
        {{ if .Site.Params.logo }}
            <a class="blog-logo" href="{{ .Permalink }}"><img src="{{.Site.BaseURL}}{{ .Site.Params.logo }}" alt="Blog Logo" /></a>
        {{end}}
        {{ if .Site.Menus.main }}
            <a class="menu-button" href="#"><span class="burger">&#9776;</span><span class="word">Menu</span></a>
        {{else}}
            {{ if .Site.Params.RSSLink}}
              <a class="menu-button icon-feed" href="{{.Site.Params.RSSLink }}">&nbsp;&nbsp;Subscribe</a>
            {{else}}
              <a class="menu-button icon-feed" href="{{ .RSSLink }}">&nbsp;&nbsp;Subscribe</a>
            {{end}}
        {{end}}
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            {{ if .Site.Params.linkedinName }}
                <a class="bloglogo" href="https://www.linkedin.com/in/{{ .Site.Params.linkedinName }}" target="_blank">
                    <span class="icon-linkedin" style="color:white;font-size:2em"></span>
                </a>
            &nbsp;
            {{end}}
            {{ if .Site.Params.githubName }}
                <a class="bloglogo" href="https://github.com/{{ .Site.Params.githubName }}" target="_blank">
                <span class="icon-github" style="color:white;font-size:2em"></span>
                </a>
            &nbsp;
            {{end}}
            {{ if .Site.Params.twitterName }}
                <a class="bloglogo" href="https://twitter.com/{{ .Site.Params.twitterName }}" target="_blank">
                    <span class="icon-twitter" style="color:white;font-size:2em"></span>
                </a>
            &nbsp;
            {{end}}
            {{ if .Site.Params.facebookName }}
                <a class="bloglogo" href="https://www.facebook.com/{{ .Site.Params.facebookName }}" target="_blank">
                    <span class="icon-facebook" style="color:white;font-size:2em"></span>
                </a>
            &nbsp;
            {{end}}
            {{ if .Site.Params.instagramName }}
                <a class="bloglogo" href="https://instagram.com/{{ .Site.Params.instagramName }}" target="_blank">
                    <span class="icon-instagram" style="color:white;font-size:2em"></span>
                </a>
            &nbsp;
            {{end}}
            {{ if .Site.Params.pinterestName }}
                <a class="bloglogo" href="https://www.pinterest.com/{{ .Site.Params.pinterestName }}" target="_blank">
                    <span class="icon-pinterest" style="color:white;font-size:2em"></span>
                </a>
            &nbsp;
            {{end}}
            {{ if .Site.Params.googlePlusName }}
                <a class="bloglogo" href="https://google.com/+{{ .Site.Params.googlePlusName }}" target="_blank">
                    <span class="icon-google-plus" style="color:white;font-size:2em"></span>
                </a>
            &nbsp;
            {{end}}

            <h1 class="page-title">{{ .Site.Title }}</h1>
            <h2 class="page-description">{{ .Site.Params.description }}</h2>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content"><span class="hidden">Scroll Down</span></a>
</header>


<main id="content" class="content" role="main">

  <div class="index-content post">
<h1>What is Organic Seo Design?</h1>
<p>
To answer this seemingly never ending question, tied to it's myriad of categorically related questions, we must answer first the age old question of what search engines mean to achieve, over the ability of human oversight.</p>
<p>
To categorize information meaninfully is the plight of every search engine algorithm ever invented. But there is a catch, the utter size of data stores avaialable to human search benefactors is exceedingly impossible to organize, without a machine intevention.</p>
<p>
It would seem the machine itself is the problem, and many people have historically taken a back seat to machine complexity or attempted a front seat, to it's simplification. </p>

    <h2> Now, let's delve into the differential nature of this "SEO" equation</h2>
    <p>Not to late last year a few fine folks reminded the SEO industry at large, that analysis by visualization was receiving far less attention than it should</p>
    <p>What exactly is an SEO visualization anyway?</p>
    <ul><li>Search Metrics?</li><li>Traffic Metrics?</li><li>Usage Patterns?</li><li>Ranking Patterns?</li></ul>
    <p>Safe to say it's a combination of all these, but how did the battle for better "SEO" data, play out?</p>
    <p>A savvy marketer will quickly realize at looking, a synthesis had occured, SEO stopped being itself, because the search algorithm
      was taking much of this new and exotic data into account, not social patterns per-say, but even deeper, search had begun to value
      the visualization itself, a new visual metric. Above and beyond what the algorithm was being told by it's own inference,not only
    did the data prove users wanted a change in focus, but an acute change in focus, we saw an increase in engagement with visualizations, and the articles
      , which as SEO we were able to affect, causing effective
    change at the marketing phase, using these seemingly exotic, human tuned, visual metrics, for proof of that need.</p>
    <p> Marketers had finally been encouraged to provide these metrics and graphic designers had somewhere to tie in the concept of graphic
      design with marketing, not necessarily to the benefit or distraction from SEO goals, but changing the way we perceived SEO as a whole.</p>
    <h2> Nitty Gritty Details</h2>
    <p>For some of us who were privileged enough to be early adopters of Semantic data visualizations, there was a long time gap, in the way
      we did SEO, that gap has now begun to close, through the Knoweldge Graph API, simply aligning one's content with LSI and knowledge graph
      visual linking patterns, we can create effective visuals as well as copy, human visualized content in a context that can harness the full scope of the search algorithms which
      already have begun to infer this natural pattern of hierarchical knowledge building, after all, the universe is stackable, so why not knowledge itself?</p>
    <p> Tools like what's used at NetworkEmpire and what's in knowledge graph, combined with LSI data, has truly begun to unwrap the onion
       these universal layers.</p>
    
   <p>Unfortunately, the complexity behind the scenes of these massive changes in organization, aren't going away, big data, artificial intelligence, 
     sythesis of these subjects like the STEMS project pushing a multi disciplinary approach, high fidelity graphic analysis tools like
     3d imagery, and the separation of language from it's basic substantive tenets, are not going away, they will become hotly debated participles
     of the business landscape, as well as education, and this complexity may or may not benefit humanity, that is if humanity cannot
     recognize the difference.
     <p> So in being holistically human, we have realized a need to meet these ends, by providing sensory data like visualization, audio
       and even simply machine inferred data, to PROVE, a world without this complexity won't simplify the complexity that create it. 
       But furthermore, a world that harnesses this complexity, will generate a bridge for every human to begin a journey toward self discovery,
       self discovery inherently tied to information, and the way we as humans interact toward discovering information is the basis for it's 
       own discovery of self. </p>
    <p>The goal of fnding positive differences is to provide a starting point, for business' and people alike, whom want to learn how to adopt these
      emerging technologies, into their business OR lives, and effectively to disband the notion that complexity of information is one's 
      enemy, which isn't true, because recognizing one's ultimate life cycle is the beginning of the end to this complexity, and should
      not only be a focus, it should be the main goal of human innovation to end unneccessary life cycles and begin anew, simply. </p>
    <h3>THE TOOLS ARE HERE, AND THE PATHWAYS THROUGH COMPLEXITY CAN BE DAUNTING, BUT YOUR JOURNEY IS SIMPLIFIED, SEARCH IS DATA, IT'S UP TO YOU
TO FIND YOUR PATH, AND IT'S UP TO ALL THAT WE INSURE A HEALTHY END TO UNHEALTHY LIFE CYCLES, THE TOOLS ARE GIVEN IN THE ARTICLES CONTAINED HERE, OR YOU MAY SUBSCRIBE, 
      AND LEARN BY INTERACTION WITH ME, THAT THESE METHODS REMOVE RESISTANCE TO A NEW AGE OF SIMPLIFICATION, WHICH CONSENT ITSELF IS AVAILED BY,
      THROUGH THE SIMPLE ACT OF BEING, WITHIN THAT EVER GROWING STACK, THE STACK OF HUMAN INNOVATION, CREATED TO APPEASE SURVIVORS, THE SURVIVORS
      OF AN INFORMATION AGE, THE AGE OF HARMONY, THE AGE THAT WILL LEAVE STAGNANCE BEHIND. </h2>
    
    
  </div>

</main>

{{ partial "footer.html" . }}
